/*
 *---------------------------------------------  
 * SCHÖNERNAME PIPELINE    MAIN CONFIGURATION
 *---------------------------------------------
 * Default config for all environments
 */


manifest {
    mainScript = 'main.nf'
    author = 'Louisa Wessels Perelo'
    homePage = 'https://github.com/louperelo/longMeta'
    description = 'Antibiotic resistance gene detection in metagenomic long reads'
    name = 'weißNochNicht'
    nextflowVersion = '>=0.32.0'
    version = '0.7'
}

//Parameter

params {
    help = false
    input = "$PWD/sample.fa"
    readtype = "map-ont"
    argDb = "$PWD/card_db/card_database_v*.fasta"
    drugClass = "$PWD/aro_index.tsv"
    blastDbDir =  "$PWD/db"
    blastDbName = "ref_prok_rep_genomes"
    diamondDbDir = "$PWD/db/diamondDb"
    diamondDbName = "nt.dmnd"
    flye = false
    flyeDt = "nano-raw"
    length = 95
    ident = 80
    genomeSize = 1000000
    outdir = "$PWD/out_dir"
    taxon = "Diamond"
    threads = 15
    pfThreshold = 0.7
    pfModels = "$PWD/env/plasflow/models"
}


/*
setting profiles allows the execution either with Conda or Docker 
specifying -profile conda or -profile docker when running the workflow script
*/

profiles {
    conda {
        process {
            withLabel:plasflow {
                conda = "$PWD/env/plasflow/plasflow.yml"
            }
            withLabel:mapcard {
                conda = "$PWD/env/mapcard/mapcard.yml"
            }
            withLabel:blast {
                conda = "$PWD/env/blast/prokblast.yml"
            }
            withLabel:diamond {
                conda = "$PWD/env/diamond/dmnd.yml"
            }
            withLabel:metaflye {
                conda = "$PWD/env/metaflye/metaflye.yml"
            }
        }
    }

    docker {
        docker.enabled = true
        docker.fixOwnership = true

        process {
            withLabel:plasflow {
                container = 'louperelo/plasflow' //evtl. ganzen Pfad docker.hub angeben
            }
            withLabel:mapcard {
                container = 'louperelo/mapcard'
            }
            withLabel:blast {
                container = 'louperelo/prokblast'
            }
            withLabel:diamond {
                container = 'louperelo/diamond'
            }
            withLabel:metaflye {
                container = 'louperelo/metaflye'
            }
        }
    }
    /*
    singularity { singularity.enabled = true } 
    test { includeConfig 'conf/test.config' }
    app { includeConfig 'conf/app.config' }
    */
}
